name: "Configuration Dev building test"
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v30
      with:
        nix_path: nixpkgs=channel:nixos-25.11
    - run: ./tests/config-dev-test.sh
